<div class="jumbotron">
    <h1>Project Tracker API</h1>
    <p class="lead">This is the documentation of Group # ASP.net webservice for the Project TRacker Application.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To Check all avalible API's and how to use them check API Page.</p>
        <p><a class="btn btn-default" href="./Help">Learn more &raquo;</a></p>
    </div>

</div>
